<!DOCTYPE html>
<html lang="en" ng-app="GroundStation">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello GroundStation!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <base href="/">
  </head>

  <body>
    <div ui-view="navbar"></div>
    <div class="container-fluid" ui-view="content"></div>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
