<div class="row">
  <div class="col-md-12">
    <pids-chart></pids-chart>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2>
      Controllers
    </h2>
    <table class="table table-sm">
      <thead class="thead-inverse">
        <tr>
          <th>Name</th>
          <th>kp</th>
          <th>ki</th>
          <th>kd</th>
          <th>Minimum Output</th>
          <th>Maximum Output</th>
        </tr>
      </thead>
      <tbody class="pids">
        <tr *ngFor="let pid of pids">
          <td>{{ pid.name }}</td>
          <td>
            <div class="pid-value">
              <div class="minus">
                <button type="button" class="btn btn-outline-primary btn-sm"  (click)="tune(pid, 'kp', 'down')">-</button>
              </div>
              <div class="value">
                {{ pid.kp }}
              </div>
              <div class="plus">
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="tune(pid, 'kp', 'up')">+</button>
              </div>
            </div>
          </td>
          <td>
            <div class="pid-value">
              <div class="minus">
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="tune(pid, 'ki', 'down')">-</button>
              </div>
              <div class="value">
                {{ pid.ki }}
              </div>
              <div class="plus">
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="tune(pid, 'ki', 'up')">+</button>
              </div>
            </div>
          </td>
          <td>
            <div class="pid-value">
              <div class="minus">
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="tune(pid, 'kd', 'down')">-</button>
              </div>
              <div class="value">
                {{ pid.kd }}
              </div>
              <div class="plus">
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="tune(pid, 'kd', 'up')">+</button>
              </div>
            </div>
          </td>
          <td>{{ pid.minimum_output }}</td>
          <td>{{ pid.maximum_output }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>