<span class="legend output">Output</span>
<span class="legend error">error</span>
<span class="legend proportional_term">proportional_term</span>
<span class="legend integrative_term">integrative_term</span>
<span class="legend derivative_term">derivative_term</span>

<div class="row-fluid">
  <div class="col-md-6">
    <pid name="yaw_rate_pid_controller"></pid>
  </div>

  <div class="col-md-6">
    <pid name="roll_rate_pid_controller"></pid>
  </div>
</div>

<div class="row-fluid">
  <div class="col-md-6">
    <pid name="pitch_rate_pid_controller"></pid>
  </div>

  <div class="col-md-6">
  </div>
</div>


<div class="row-fluid">
  <div class="col-md-6">
    <pid name="roll_angle_pid_controller"></pid>
  </div>

  <div class="col-md-6">
    <pid name="pitch_angle_pid_controller"></pid>
  </div>
</div>
