<div id="pid">
  <h3>{{name}}</h3>
  <div class="row-fluid">
    <div class="col-md-9">
      <pid-chart name="{{name}}"></pid-chart>
    </div>
    <div class="col-md-3">
      <table>
        <thead>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td>
              <form class="form-inline" ng-submit="tuneKp($form)">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">kp</div>
                    <input type="number" step="0.1" class="form-control" ng-model="newKp">
                    <div class="input-group-addon">{{tunings.kp}}</div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Apply</button>
              </form>
            </td>
          </tr>
          <tr>
            <td>
              <form class="form-inline" ng-submit="tuneKi($form)">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">ki</div>
                    <input type="number" step="0.01" class="form-control" ng-model="newKi" ng-value="ki">
                    <div class="input-group-addon">{{tunings.ki}}</div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Apply</button>
              </form>
            </td>
          </tr>
          <tr>
            <td>
              <form class="form-inline" ng-submit="tuneKd($form)">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">kd</div>
                    <input type="number" step="0.01" class="form-control" ng-model="newKd" ng-value="kd">
                    <div class="input-group-addon">{{tunings.kd}}</div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Apply</button>
              </form>
            </td>
          </tr>
          <tr>
            <td><button ng-click="reset()">Reset</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
