/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";

h2 {
  font-size: 1.3em;
}
h3 {
  font-size: 1.1em;
}

html, body, app-root, .container-fluid, .full-height, {
  height: 100%;
}

.container-fluid {
  margin-top: -70px;
  padding-top: 70px;
}